body {
	font-family: Open Sans,Arial ;
	background: #000000 ;
	color: #d9d9d9 ;
	line-height: 1.4 ;
	text-align: justify ;
	padding: 1em ;
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

a:link {
	color: #ccc ;
}

a:visited {
	color: #ccc ;
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}
